{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ["*.js", "*.cjs", "*.mjs"],
      "options": {
        "parser": "babel"
      }
    },

    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },

    {
      "files": ["*.json", "*.jsonc", ".prettierrc"],
      "options": {
        "parser": "json"
      }
    }
  ]
}