applocal*.json
/Configuration.Base*
/Source/.idea
/Source/.vs
Bin/extensions/*
Bin/Tessa.Chronos/*
Bin/Tessa.Extensions.Chronos/*
Bin/Tessa.Extensions.Client/*
Bin/Tessa.Extensions.Console/*
Bin/Tessa.Extensions.Server/*
Bin/Tessa.Module.Sample.Client/*
Bin/Tessa.Module.Sample.Server/*
Extensions/Tessa.Extensions.Chronos/obj/*
Extensions/Tessa.Extensions.Client/obj/*
Extensions/Tessa.Extensions.Console/obj/*
Extensions/Tessa.Extensions.Default.Chronos/obj/*
Extensions/Tessa.Extensions.Default.Client/obj/*
Extensions/Tessa.Extensions.Default.Console/obj/*
Extensions/Tessa.Extensions.Default.Imaging/obj/*
Extensions/Tessa.Extensions.Default.Server/obj/*
Extensions/Tessa.Extensions.Default.Server.Web/obj/*
Extensions/Tessa.Extensions.Default.Shared/obj/*
Extensions/Tessa.Extensions.Imaging/obj/*
Extensions/Tessa.Extensions.Server/obj/*
Extensions/Tessa.Extensions.Server.Web/obj/*
Extensions/Tessa.Extensions.Shared/obj/*
Extensions/Tessa.Extensions.Chronos/bin/*
Extensions/Tessa.Extensions.Client/bin/*
Extensions/Tessa.Extensions.Console/bin/*
Extensions/Tessa.Extensions.Default.Chronos/bin/*
Extensions/Tessa.Extensions.Default.Client/bin/*
Extensions/Tessa.Extensions.Default.Console/bin/*
Extensions/Tessa.Extensions.Default.Imaging/bin/*
Extensions/Tessa.Extensions.Default.Server/bin/*
Extensions/Tessa.Extensions.Default.Server.Web/bin/*
Extensions/Tessa.Extensions.Default.Shared/bin/*
Extensions/Tessa.Extensions.Imaging/bin/*
Extensions/Tessa.Extensions.Server/bin/*
Extensions/Tessa.Extensions.Server.Web/bin/*
Extensions/Tessa.Extensions.Shared/bin/*
/Source/logs
/Source/web/dts/*
/Source/web/node_modules/*
/Source/web/wwwroot/extensions/*
/Source/web/*-api-manifest.json
/Source/**/bin/Debug/*
/Source/**/bin/Release/*
/Source/**/obj/Debug/*
/Source/**/obj/Release/*
/Source/**/obj/*.json
/Source/**/obj/*.cache
/Source/**/obj/*.props
/Source/**/obj/*.targets
/Source/**/NLog.config
/Source/**/pre-build.bat
/Source/**/post-build.bat
/Source/**/project.assets.json
/tools
/Tools
WebClient SDK/node_modules/*
WebClient SDK/platform/dts/*
WebClient SDK/platform/platform-api-manifests/*
WebClient SDK/platform/platform-api-manifests-mobile/*
WebClient SDK/wwwroot/extensions/*
*.csproj.user
*.DotSettings.user
*.suo
~$*.docx
~$*.xlsx
