@mixin size {
  width: 100%;
  height: 100%;
}

.tag-widget-container {
  @include size();
  overflow: hidden;

  .tag-container-tag {
    @include size();

    .item {
      @include size();
      padding: var(--dashboard-widget-tag-padding);
      font-size: var(--dashboard-widget-tag-font-size);
      font-weight: var(--dashboard-widget-tag-font-weight);

      .caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: var(--dashboard-widget-tag-caption-font-height);
      }

      .counter {
        font-weight: var(--dashboard-widget-tag-counter-font-weight);
      }
    }
  }
}
